        body {
            background: #0b0f1a;
            color: yellow;
            font-family: Arial;
            text-align: center;
        }

        /* Ocultar radios */
        input {
            display: none;
        }

        .roles {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin: 20px;
            flex-wrap: wrap;
        }

        .card {
            background: #111827;
            padding: 20px;
            border-radius: 10px;
            cursor: pointer;
            width: 150px;
            border: 1px solid #333;
            transition: 0.3s;
        }

        .card:hover {
            transform: scale(1.1);
            border-color: #00d4ff;
        }


        /* Tamaño uniforme para imágenes de loadout */
        .contenido img {
            width: 100%;
            max-width: 400px;
            height: auto;
            border-radius: 8px;
            margin-top: 10px;
        }